<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/13.0/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         cacheDirectory=".phpunit.cache"
         colors="true"
         failOnRisky="true"
         failOnWarning="true"
         displayDetailsOnTestsThatTriggerWarnings="true">
    <testsuites>
        <testsuite name="framework">
            <directory>tests/Framework</directory>
        </testsuite>
        <testsuite name="assignments">
            <directory>tests/Assignments</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">Assignments</directory>
            <directory suffix=".php">tests/Support</directory>
        </include>
    </source>
</phpunit>
